<div class="newproducts-w3agile">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <%= form_for @cusstomer, url: {action: "create"} do |f| %>
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3>Information of <%= @user %></h3>
            </div>
              <div class="box-body">
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label>Name</label>
                    <%= f.hidden_field :accounts_id, value: "#{@idAcc}" %>
                    <%= f.text_field :customerName, class:"form-control", required: true, placeholder:"Type name", autofocus: true %>
                  </div>
                  <div class="form-group">
                    <label>Credit card info</label>
                    <%= f.text_field :creditCardInfo, class:"form-control", required: true, placeholder:"Type credit card info" %>
                  </div>

                </div>
                <div class="col-md-6 col-lg-6">

                  <div class="form-group">
                    <label>Address</label>
                    <%= f.text_area :address, class:"form-control", required: true, placeholder:"Type adress", rows:"5" %>

                  </div>

                </div>


              </div>
            <div class="box-footer">
              <div class="col-md-12">
                <%= f.submit "Submit", class:"pull-right btn btn-warning btn-flat"  %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>