<section class="content-header">
  <h1>
    Product manager
    <small>List order</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Order</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List order</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name customer</th>
              <th>Status</th>
              <th>Time</th>
              <th>more</th>
            </tr>
            </thead>
            <tbody>
            <% stt = 0 %>
            <% @list.each do |order| %>
                <tr>
                  <td><%= stt+=1 %></td>
                  <td><%= order.customerName %></td>
                  <td><%= order.orderStatus %></td>
                  <td><%= order.created_at %></td>
                  <td class="text-center">
                    <% if order.orderStatus == 'pending' %>
                      <%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, change_status_order_path(order),
                                  :data => {:confirm => "You sure?",
                                            :method => "get"}, class:"btn btn-success btn-sm btn-flat" %>
                    <% elsif order.orderStatus == 'Cancel' %>
                    <% else %>
                      <%= link_to '<i class="fa fa-check" aria-hidden="true"></i>'.html_safe, change_status_order_path(order),
                                  :data => {:confirm => "You sure?",
                                            :method => "get"}, class:"btn btn-warning btn-sm btn-flat" %>
                    <% end %>

                    <button data-toggle="modal" value="<%= order['id'] %>" data-target="#detailOrder" class="detailOrder btn btn-flat btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                  </td>
                </tr>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th>#</th>
              <th>Name customer</th>
              <th>Status</th>
              <th>Time</th>
              <th width="10%">more</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<div class="modal fade" id="detailOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detail order</h4>
      </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <h4>Order detail</h4>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name product</th>
                      <th>Price</th>
                      <th>Unit price</th>
                    </tr>
                    </thead>
                    <tbody id="dataproduct">

                    </tbody>
                    <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Name product</th>
                      <th>Price</th>
                      <th>Unit price</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="col-md-6 col-lg-6">
                  <h4>Ship info</h4>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Shipping type</th>
                      <th>Shipping cost</th>
                      <th>Shipping region id</th>
                    </tr>
                    </thead>
                    <tbody id="dataship">

                    </tbody>
                    <tfoot>
                    <tr>
                      <th>#</th>
                      <th>Shipping type</th>
                      <th>Shipping cost</th>
                      <th>Shipping region id</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm btn-flat" data-dismiss="modal">Close</button>

          </div>
    </div>
  </div>
</div>