<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Shop</b>RAILS</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group has-feedback">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password %>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Retype password" %>
        </div>

        <div class="row">
          <div class="col-xs-8"></div>
          <!-- /.col -->
          <div class="col-xs-4">
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-flat" %>
            </div>
          </div>
          <!-- /.col -->
        </div>

    <% end %>



    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
        Google+</a>
    </div>

    <%= render "accounts/shared/links" %>

  </div>
  <!-- /.form-box -->
</div>

